@import '../styles/_variables.scss';

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
  overflow-y: auto; // Permette lo scrolling verticale se necessario
  padding: 1rem;    // Aggiunge un po' di spazio ai bordi per dispositivi piccoli
}

.register-container {
  width: 350px;
  max-height: 90vh; // Limita l'altezza massima al 90% dell'altezza della viewport
  overflow-y: auto; // Se il contenuto supera l'altezza, abilita la scrollbar verticale
  padding: 2rem;
  background-color: $secondary-color;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;  // Centra orizzontalmente il container
}

.register-container img.logo {
  display: block;
  margin: 0 auto 1.5rem auto;
  max-width: 200px;   // Imposta una dimensione massima
  max-height: 150px;  // Imposta un'altezza massima per evitare che il logo sfori
  width: auto;
  height: auto;
  object-fit: contain;  // Assicura che l'immagine mantenga le proporzioni e non venga tagliata
}

.register-container h1 {
  color: $primary-color;
  margin-bottom: 1.5rem;
}

.register-container .error {
  color: red;
  margin-bottom: 1rem;
}

.register-container .form-group {
  margin-bottom: 1rem;
  text-align: left;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: $primary-color;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  &.invalid {
    input {
      border-color: red;
    }
    .error-message {
      color: red;
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }
}

.register-container .password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.register-container .eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  color: $primary-color;
}

.register-container .password-requirements {
  margin-top: 10px;
  font-size: 0.875rem;
  text-align: left;
  color: #333;

  ul {
    padding-left: 20px;
  }

  li {
    color: red;
  }

  li.valid {
    color: green;
  }
}

.register-container .btn {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.register-container a {
  color: $primary-color;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.register-container p {
  margin-top: 1rem;
  font-size: 0.875rem;
  color: #555;
}

.register-container p a {
  color: $primary-color;
}

.register-container p a:hover {
  text-decoration: underline;
}
