@import './styles/_variables.scss';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $background-color;
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

.container {
  padding: 20px;
}
